﻿@model TodoListApp.Services.Models.TodoTask

<h2>Add New Task</h2>

<form asp-controller="TodoTask" asp-action="Create" method="post">
    <input type="hidden" name="todoListId" value="@Model.TodoListId" />

    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="DueDate">Due Date</label>
        <input type="date" class="form-control" id="DueDate" name="DueDate" value="@Model.DueDate.ToString("yyyy-MM-dd")" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
