﻿@model TodoListApp.Services.Models.TodoTask

<h2>Are you sure you want to delete this task?</h2>

<div>
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
    <p>Due: @Model.DueDate.ToShortDateString()</p>

    <form asp-controller="TodoTask" asp-action="Delete" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="TodoTask" asp-action="Index">Cancel</a>
    </form>
</div>
