﻿@model TodoListApp.Services.Models.TodoTask

<h2>Task Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Model.DueDate.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-todoListId="@Model.TodoListId" asp-route-taskId="@Model.Id">Edit</a> |
    <a href="javascript:void(0)" onclick="confirmDelete('@Model.TodoListId', '@Model.Id')">Delete</a>
</div>

