﻿@model IEnumerable<TodoListApp.Services.Models.TodoTask>

<h2>Tasks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.DueDate.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Details", "TodoTask", new { todoListId = task.TodoListId, taskId = task.Id })" class="btn btn-primary btn-sm">Details</a> |
                    <a href="@Url.Action("Edit", "TodoTask", new { todoListId = task.TodoListId, taskId = task.Id })" class="btn btn-info btn-sm">Edit</a> |
                    <a href="javascript:void(0)" onclick="confirmDelete('@task.TodoListId', '@task.Id')" class="btn btn-danger btn-sm">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
@{
    var todoListId = ViewData["todoListId"] as string;
}
<button class="btn btn-primary btn-sm" onclick="toCreate()"> Add New Task </button>
@section Scripts {

    <script>
        function toCreate() {
            const params = new URLSearchParams(window.location.search);

            // Use the get method to retrieve the value of the "todoListId" parameter
            const todoListId = params.get('todoListId');
            window.location.href = '/TodoTask/Create?todoListId=' + todoListId;

        }
        function confirmDelete(todoListId, taskId) {
            if (confirm("Are you sure you want to delete this task?")) {
                var form = document.createElement('form');
                document.body.appendChild(form);
                form.method = 'post';
                form.action = '@Url.Action("DeleteConfirmed", "TodoTask")';
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'taskId';
                input.value = taskId;
                form.appendChild(input);
                var input2 = document.createElement('input');
                input2.type = 'hidden';
                input2.name = 'todoListId';
                input2.value = todoListId;
                form.appendChild(input2);
                var token = '@Html.AntiForgeryToken()';
                form.appendChild($(token)[0]);
                form.submit();
            }
        }
    </script>
}

