﻿@model TodoListApp.Services.Models.TodoList

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Edit To-do List</h2>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update To-do List</button>
            </form>
        </div>
    </div>
</div>
